
#title-result{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}



#c1{
    width: 30%;
    margin: 1.5%;
    border: 1px solid #999898;
    padding: .5rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.card:hover{
    transform: translateY(-.5rem);
    transition: .5s;
}

.card .name{
    border-bottom: 1px solid #999898;
    text-align: center;
}


.card .name img{
    width: 10rem;
    height: 13rem;
    border-radius: 50%;
}

.card .work{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #999898;
    text-align: center;
}

.work .work-group ul li,
.work .work-project ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    margin-top: 0;
    padding-left: .4rem
}



.card .evaluate{
    text-align: center;

}

.work .work-group ul li,
.work .work-project ul li{
   list-style: none;
}